$font-big: 50px;
$font-mid: 40px;
$font-small: 30px;

$font-bold: 900;
$font-thin: 400;

$color-blue: #2e5dc4;

.test {
  font-size: $font-big;
  font-weight: $font-bold;
}

h2 {
  color: $color-blue;
  font-weight: $font-bold;
  font-size: $font-mid;
}

ul {
  display: grid;
  gap: 10px;
}

li {
  color: $color-blue;
  font-weight: $font-thin;
  font-size: $font-small;

  &:hover {
    background-color: lightgray;
  }

  p {
    color: black;
    font-weight: bold;
  }

  section {
    color: red;
  }

  article {
    color: orange;

    h3 {
      color: green;
    }
  }

  h2 {
    color: pink;
  }
}

li:hover {
  background-color: lightgray;
}